<div class="base_form">

  <div>
    <a style="font-size:28px">Регистрация</a>

    <%= render "form", user: @user %>

    <form action="/users/login" style="margin-top: 20px">
      <button>Перейти к авторизации</button>
    </form>
  </div>

</div>