<p>Имя пользователя: <%= @user.name %></p>
<%if @user.id == session[:user_id]%>
    <p>Это ваш профиль!</p>
    <p>Логин: <%= @user.login %></p>
    <p>Пароль: <%= @user.password %></p>
<%end%>
